body {
    font-family: 'Roboto Condensed', "Arial", sans-serif;
    font-size: 14px;
    color: #575a5b;
}

h1 {
    margin: 0;
    font-weight: 700;
}

.header-wrapper {
    margin-bottom: 40px;
}

.blue-wrapper {
    padding: 20px;
    background-color: #f0fafc;
    border-radius: 5px;
}

.custom-table-wrapper {
    background: #fff;
    border-radius: 5px;
}

.custom-table {
    width: 100%;
    overflow: hidden;
}

.custom-table th {
    padding: 10px;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    text-align: left;
}

.custom-table td {
    padding: 8px;
    word-break: break-all;
}

.custom-table tr:nth-of-type(odd) td {
    background-color: #f9f9f9;
}

.custom-table tr:nth-of-type(even) td {
    background-color: #fff;
}

.custom-table .checkbox-cell {
    width: 30px;
}
