body {
    font-family: 'Roboto Condensed', "Arial", sans-serif;
    font-size: 14px;
    color: #575a5b;
}

h1 {
    margin: 0;
    font-weight: 700;
}

a {
    font-weight: 700;
    color: #5dceea;
}

a:hover {
    color: #53c4e0;
    text-decoration: none;
}

.header-wrapper {
    margin-bottom: 40px;
}

.blue-wrapper {
    padding: 20px;
    background-color: #f0fafc;
    border-radius: 5px;
}

::selection {
    background-color: rgba(164, 230, 245, 0.5);
}

::placeholder {
    color: #d1d1d1;
}